.charbox {
    border-color: black;
}


.users span {
    font-weight: bold;
}

.black-link {
    color: black;
    text-decoration: none;
}

.charter {
    text-decoration: none;
    color: rgb(39, 38, 38);
}

@media (max-width: 767px) {
    .charbox h2 {
        text-align: center;
    }
}